{% extends "pages/base.html" %}

{% block title %}
Phiếu y lệnh
{% endblock %}

{% block content %}
    <div style="font-size: 16px">
        <h1 style="text-align: center"> Medical Instructions Ticket</h1>
        <div>
            <strong>Patient name : {{ylenh.patient.patient_name}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>
            <strong>Date of birth : {{ylenh.patient.birthday}}</strong>
        </div>
        <div> <strong>PhoneNumber/Email: {{ylenh.patient.phone_number}}</strong>
        </div>
        <br>
        <br>
        <table>
            <tr style="border: 1px solid black;">
                <th style="padding: 1">Patient</th>
                <th>Patient</th>
                <th>Title</th>
                <th>Expiration date</th>
            </tr>
            <tr style="margin-top: 10px;border: 1px solid black;">
                <td style="text-align: center; padding: 1"> {{ylenh.patient.patient_name}}</td>
                <td style="text-align: center">{{ylenh.title}}</td>
                <td style="text-align: center">{{ylenh.content}}</td>
                <td style="text-align: center">{{ylenh.day_end}}</td>
            </tr>

        </table><br><br>
        <div style="text-align: right;margin-right: 2">
            <div>
                <div style="margin-right: 4">PATIENT</div>
                <div>(Patient signature)</div>
            </div>

        </div>
    </div>

{% endblock %}
