{% extends "pages/base.html" %}

{% block title %}
Phiếu y lệnh
{% endblock %}

{% block content %}
    <div style="font-size: 16px">
        <h1 style="text-align: center"> PHIEU Y LENH</h1>
        <div>
            <strong>Ten benh nhan : {{ylenh.patient.patient_name}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>
            <strong>Ngay sinh : {{ylenh.patient.birthday}}</strong>
        </div>
        <div> <strong>PhoneNumber/Email: {{ylenh.patient.phone_number}}</strong>
        </div>
        <br>
        <br>
        <table>
            <tr style="border: 1px solid black;">
                <th style="padding: 1">Ten benh nhan</th>
                <th>Y lenh</th>
                <th>Ghi chu them</th>
                <th>Ngay het han</th>
            </tr>
            <tr style="margin-top: 10px;border: 1px solid black;">
                <td style="text-align: center; padding: 1"> {{ylenh.patient.patient_name}}</td>
                <td style="text-align: center">{{ylenh.title}}</td>
                <td style="text-align: center">{{ylenh.content}}</td>
                <td style="text-align: center">{{ylenh.day_end}}</td>
            </tr>

        </table><br><br>
        <div>
            <strong>
                &nbsp; BENH NHAN &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </strong>
            <strong>
               BAC SI
            </strong>
        </div>


    </div>

{% endblock %}
