{% extends "pages/base.html" %}

{% block title %}
Y lenh
{% endblock %}

{% block content %}
    <p><a href="{% url 'create_ylenh' %}">Tao y lenh</a></p>
    <div class = "container">
    <table>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Patient</th>
            <th>Day Start</th>
            <th>Day end</th>
        </tr>

        {% for y in YLenhs %}
        <tr>
            <th><a href="/ylenh/{{y.id}}">{{y.title}}</a></th>
            <th>{{y.username}}</th>
            <th>{{y.patient}}</th>
            <th>{{y.day_start}}</th>
            <th>{{y.day_end}}</th>
            <td><a class="btn btn-danger btn-xs" href="{% url 'delete_ylenh' y.id  %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
