<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Create_patient</title>
</head>
<body>
<div class="wrapper d-flex">
    <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 300px ; height:100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <h3class="h4">Medical Instructions Management</h4>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link ">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Home
                </a>
            </li>
            <li>
                <a href="/ylenh" class="nav-link">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Medical Instructions
                </a>
            </li>
            <li>
                <a href="/patient" class="nav-link text-white active">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Patient
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <div style="width: 80%">
        <div class="ml-4">
            <h1> Create Patient</h1>
            <form method="POST">
            {% csrf_token %}
            {% for key, value in form.errors.items %}
                {{value}}
            {% endfor %}
            <div class="d-flex justify-content-between mr-5 mb-3 mt-3" >
                <div class="mb-4" style="width: 60%;"> <h5 class="mb-2  ">Patient name: </h5>
                    <div>
                        {{form.patient_name}}
                    </div>
                </div>
                <div class="mb-4" style="width: 40%;"> <h5 class="mb-2">Date of birth(mm/dd/yy) : </h5>
                    <div>
                        <input class="form-control w-50" type="date" name="birthday" placeholder="Date">
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-between mr-5">
                <div class="mb-4" style="width: 60%;"> <h5 class="mb-2">Sex : </h5>
                    <div>
                        {{form.gender}}
                    </div>
                </div>
                <div class="mb-4" style="width: 40%;"> <h5 class="mb-2">Phone number: </h5>
                    <div>
                        {{form.phone_number}}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between mr-5">
                <div class="mb-4" style="width: 60%;"> <h5 class="mb-2">Symptom : </h5>
                    <div>
                        {{form.sympton}}
                    </div>
                </div>
                <div class="mb-4" style="width: 40%;"> <h5 class="mb-2">Pathology: </h5>
                    <div>
                        {{form.note}}
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="/"/>
            <input type="submit" class="btn btn-primary" value="Create Patient"/>
        </div>
        </form>

    </div>



</body>
</html>
