{% extends "pages/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9">
        <center><h1>HE THONG QUAN LY Y LENH</h1></center>
    </div>
    <div class="col-sm-1">
        {% if user.username %}
                    <p>Xin chào {{user.username}}</p>
                    <p><a href="{% url 'logout' %}">Đăng xuất</a></p>
                {% else %}
                    <p><a href="{% url 'login' %}">Đăng nhập</a></p>
                    <p><a href="/admin">admin</p>
                {% endif %}
    </div>
</div>
{% endblock %}