{% extends "pages/base.html" %}

{% block title %}
Y lenh
{% endblock %}

{% block content %}
<div>
    <div class="wrapper d-flex">
        <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 300px ; height:100vh;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <h3 class="h4">Medical Instruction Management</h3>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link text-white active">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/ylenh" class="nav-link ">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        Medical Instruction
                    </a>
                </li>
                <li>
                    <a href="/patient" class="nav-link">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        Patient
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        <div style="width: 95%">
            <nav style=" height : 40px;" class="mt-3 d-flex justify-content-end">
                {% if user.username %}
                <p>Welcome {{user.username}}</p>
                <p><a class="mr-2" href="{% url 'logout' %}">(Logout)</a></p>

                {% else %}
                <p><a class="mr-2" href="{% url 'login' %}">Login</a></p>
                <p><a href="/admin">Admin</a></p>
                {% endif %}
            </nav>
            <div class="ml-3 mt-3">
                <h1 class="text-center m-3 mb-5" style="color: #6a1a21"> Medical Instructions System</h1>
                <div class="d-flex justify-content-center">
                    <div style="width: 256px; height: 256px;margin-right: 100px" class="text-center d-flex flex-column">
                        <img class="w-75" src = "/static/images/doctor.svg" alt="My Happy SVG"/>
                        <strong>Create medical instructions </strong>
                    </div>
                    <div style="width: 256px; height: 256px; margin-left: 100px" class="text-center d-flex flex-column">
                        <img class="w-75" src = "/static/images/patient.svg" alt="My Happy SVG"/>
                        <strong>Create and manage patient </strong>
                    </div>

                </div>
                <div class="d-flex justify-content-center mt-5">
                    <div style="width: 256px; height: 256px;margin-right: 100px" class="text-center d-flex flex-column">
                        <img class="w-75" src = "/static/images/emyller-magnifying-glass.svg" alt="My Happy SVG"/>
                        <strong>Search </strong>
                    </div>
                    <div style="width: 256px; height: 256px; margin-left: 100px" class="text-center d-flex flex-column">
                        <img class="w-75" src = "/static/images/dashboard-svgrepo-com.svg" alt="My Happy SVG"/>
                        <strong>Dashboard </strong>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


{% endblock %}
