{% extends "pages/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="wrapper d-flex">
    <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 300px ; height:100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <h3 class="fs-4">Quản lý y lệnh</h3>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="/ylenh" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Y lệnh
                </a>
            </li>

        </ul>
        <hr>
    </div>

    <nav style="width: 80% ; height : 40px;" class="mt-3 d-flex justify-content-end">


                {% if user.username %}
                <p>Xin chào {{user.username}}</p>
                <p><a class="mr-2" href="{% url 'logout' %}">(Đăng xuất)</a></p>
                {% else %}
                <p><a href="{% url 'login' %}">Đăng nhập</a></p>
                <p><a href="/admin">admin</a></p>
                {% endif %}

    </nav>


</div>



{% endblock %}
